# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Junk & DB
*.vcxproj
DAGMatcherLib/*.vcxproj
Logger/*.vcxproj
ShapeLearnerLib/*.vcxproj
ShapeLearnerUser/*.vcxproj
*.sdf
*.log
*.1.tlog
*.*.1.tlog
*.tlog
*.*.tlog
*.*.*.tlog
*.*.*.*.tlog
**tlog
***tlog
****tlog
*****tlog
*tlog
*.shape
*.idb
*.ipch
*.tlog
*.zargo~
*~
*.opensdf
*.command.1.tlog
*.read.1.tlog
*.write.1.tlog
*.6824-cvtres.read.1.tlog
*.6824-cvtres.write.1.tlog
*.6824.read.1.tlog
*.6824.write.1.tlog
*.emf
*.eap
*.xmi