# Ignore everything
*

# But not these files...
!*.doxproj

#Visual Studio Files 
!.gitignore
!*.sln
!*.vcxproj
!*.filters
!*.vcxproj.filters
!*.vcxproj.user
!*.user
!*.h
!*.cpp
!*.lib
!*.dll

# ...even if they are in subdirectories
!*/