# Ignore everything
*

# But not these files...
!.gitignore
!*.cpp
!*.cxx
!*.ixx
!*.hxx
!*.h
!*.png
!*.htm
!*.html
!*.css
!*.txt
!readme
!Readme
!README
!*.lib
!Makefile
!makefile

# ...even if they are in subdirectories
!*/