# Ignore everything
*

# But not these files...
!.gitignore
!*.cpp
!*.cxx
!*.ixx
!*.hxx
!*.h
!*.png
!*.htm
!*.html
!*.css
!*.txt
!readme
!Readme
!README
!*.lib
!*.htm
!*.html
!*.css
!*.txt
!*.png

#Visual Studio Files 
!*.sln
!*.sdf
!*.vcxproj
!*.filters
!*.vcxproj.filters
!*.vcxproj.user
!*.suo
!*.user

!Makefile
!makefile

# ...even if they are in subdirectories
!*/