# Ignore everything
*

# But not these files...
!.gitignore
!*.cpp
!*.cxx
!*.ixx
!*.hxx
!*.h
!*.txt

#Visual Studio Files 
!*.sln
!*.vcxproj
!*.filters
!*.vcxproj.filters
!*.vcxproj.user
!*.suo
!*.user

!Makefile
!makefile

# ...even if they are in subdirectories
!*/